.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.accordian {
    width: 500px;
}

.item {
    background-color: antiquewhite;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.title {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    height: auto;
}